<a href="https://colab.research.google.com/github/Nimraakram12/class-assignment-4/blob/main/ClassAssignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Methods Practice**

1.** Create and Modify Lists**

In [1]:
# Create initial list
fruits = ["apple", "banana", "orange"]

# Add "grape" to the end
fruits.append("grape")

# Insert "mango" at position
fruits.insert(1, "mango")

# Remove "banana"
fruits.remove("banana")

# Print final list
print(fruits)

['apple', 'mango', 'orange', 'grape']

2. List Operations

In [2]:
# Create initial lists
numbers = [10, 20, 30, 40, 50]
more_numbers = [60, 70, 80]

# Combine lists
all_numbers = numbers + more_numbers

# Create copy and reverse it
numbers_copy = all_numbers.copy()
numbers_copy.reverse()

# Print results
print("Original combined list:", all_numbers)
print("Reversed copy:", numbers_copy)

Original combined list: [10, 20, 30, 40, 50, 60, 70, 80]
Reversed copy: [80, 70, 60, 50, 40, 30, 20, 10]

3. Sorting and Counting

In [3]:
# Create the list
scores = [85, 92, 78, 65, 92, 85, 74]

# Sort in ascending order
scores.sort()
print("Ascending order:", scores)

# Sort in descending order
scores.sort(reverse=True)
print("Descending order:", scores)

Ascending order: [65, 74, 78, 85, 85, 92, 92]
Descending order: [92, 92, 85, 85, 78, 74, 65]

4. List Manipulation

In [4]:
# Create the original list
letters = ["a", "b", "c", "d", "e"]

# Slice first three letters
first_three = letters[:3]

# Slice last two letters
last_two = letters[-2:]

# Find index of "c"
c_index = letters.index("c")

# Replace "d" with "z"
letters[3] = "z"

# Print results
print("Original list:", letters)
print("First three letters:", first_three)
print("Last two letters:", last_two)
print("Index of 'c':", c_index)
print("Modified list:", letters)

Original list: ['a', 'b', 'c', 'z', 'e']
First three letters: ['a', 'b', 'c']
Last two letters: ['d', 'e']
Index of 'c': 2
Modified list: ['a', 'b', 'c', 'z', 'e']

**Dictionary Methods Practice**

1. Create and Access Dictionaries

In [7]:
# Create the student dictionary
student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

# Print the student's name
print(student["name"])

# Print the list of courses
print("Courses:", student["courses"])

# Add email address
student["email"] = "john@example.com"

# Print entire dictionary
print("\nUpdated student dictionary:")
print(student)

John
Courses: ['Math', 'Science', 'History']

Updated student dictionary:
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

2. Modify Dictionary Values

In [8]:
# Modify the student dictionary

student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

student["age"] = 21                     # Change age to 21
student["courses"].append("Computer Science")  # Add new course
student["grade"] = "A+"                 # Update grade

# Print the modified dictionary
print("Modified student dictionary:")
print(student)

Modified student dictionary:
{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science']}

3. Dictionary Operations

In [9]:
# Create student_address dictionary
student_address = {
    "street": "123 College Ave",
    "city": "New York",
    "zip": "10001"
}

# Combine dictionaries
student_info = {**student, **student_address}

# Remove zip code
del student_info["zip"]

# Check for phone number
phone_exists = "phone" in student_info

# Print results
print("Final Student Information:")
print(student_info)
print("\nDoes 'phone' exist in the dictionary?", phone_exists)

Final Student Information:
{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'street': '123 College Ave', 'city': 'New York'}

Does 'phone' exist in the dictionary? False

4. Dictionary Methods

In [10]:
# Create the dictionary
word_count = {
    "hello": 5,
    "world": 10,
    "python": 15
}

# Get and print keys
keys = list(word_count.keys())
print("Keys:", keys)

# Get and print values
values = list(word_count.values())
print("Values:", values)

# Get and print key-value pairs
items = list(word_count.items())
print("Key-Value Pairs:", items)

# Make a copy and clear original
copy_word_count = word_count.copy()
word_count.clear()

# Print both dictionaries
print("\nOriginal dictionary after clearing:", word_count)
print("Copied dictionary:", copy_word_count)

Keys: ['hello', 'world', 'python']
Values: [5, 10, 15]
Key-Value Pairs: [('hello', 5), ('world', 10), ('python', 15)]

Original dictionary after clearing: {}
Copied dictionary: {'hello': 5, 'world': 10, 'python': 15}

**Shopping Discount Calculator**

In [14]:
# Step 1: Initial variables
purchase_amount = 120.00  # Change this to test different values
is_loyalty_member = True
day_of_week = "Saturday"
is_holiday_season = False

# Step 2: Set starting value for discounts
original_price = purchase_amount
final_price = purchase_amount

# Step 3: Apply discounts
print(f"Original Purchase Amount: ${original_price:.2f}")

# Purchase amount discount
if purchase_amount > 100:
    discount = final_price * 0.10
    final_price -= discount
    print(f"Purchase Discount (10%): -${discount:.2f}")
elif purchase_amount > 50:
    discount = final_price * 0.05
    final_price -= discount
    print(f"Purchase Discount (5%): -${discount:.2f}")

# Loyalty member discount
if is_loyalty_member:
    discount = final_price * 0.05
    final_price -= discount
    print(f"Loyalty Discount (5%): -${discount:.2f}")

# Weekend discount
if day_of_week == "Saturday" or day_of_week == "Sunday":
    discount = final_price * 0.02
    final_price -= discount
    print(f"Weekend Discount (2%): -${discount:.2f}")

# Holiday season discount
if is_holiday_season:
    discount = final_price * 0.08
    final_price -= discount
    print(f"Holiday Discount (8%): -${discount:.2f}")

# Step 4: Final price
print(f"Final Price: ${final_price:.2f}")

Original Purchase Amount: $120.00
Purchase Discount (10%): -$12.00
Loyalty Discount (5%): -$5.40
Weekend Discount (2%): -$2.05
Final Price: $100.55

**For Loop Assignment - Number Patterns**

1. Pattern 1: Counting Numbers

In [15]:
print("Pattern 1: Counting Numbers")
for number in range(1, 11):
    print(number, end=' ')

Pattern 1: Counting Numbers
1 2 3 4 5 6 7 8 9 10

Pattern 2: Multiplication Table

In [17]:
print("Multiplication Table for 5")
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**While Loop Assignment - Interactive Game**

In [18]:
import random

# Generate a random secret number between 1 and 50
secret_number = random.randint(1, 50)
guess_count = 0

print("Welcome to the Number Guessing Game!")
print("I'm thinking of a number between 1 and 50. Can you guess it?")

while True:
    try:
        # Get player's guess
        guess = int(input("\nEnter your guess: "))
        guess_count += 1

        # Check guess against secret number
        if guess == secret_number:
            print(f"\nðŸŽ‰ Congratulations! You guessed the number in {guess_count} tries!")
            break
        elif guess < secret_number:
            print("ðŸ”» Try a higher number!")
        else:
            print("ðŸ”º Try a lower number!")

    except ValueError:
        print("âš ï¸ Please enter a valid number between 1 and 50!")

print("Thanks for playing!")

Welcome to the Number Guessing Game!
I'm thinking of a number between 1 and 50. Can you guess it?

Enter your guess: 67
ðŸ”º Try a lower number!

Enter your guess: 45
ðŸ”º Try a lower number!

Enter your guess: 32
ðŸ”º Try a lower number!

Enter your guess: 12
ðŸ”» Try a higher number!

Enter your guess: 24
ðŸ”º Try a lower number!

Enter your guess: 20
ðŸ”º Try a lower number!

Enter your guess: 15

ðŸŽ‰ Congratulations! You guessed the number in 7 tries!
Thanks for playing!

**Student Grade Management System**

In [21]:
# Initialize student list with 3 students
students = [
    {
        'name': 'Ahsan',
        'id': 101,
        'grades': {'Math': 85, 'Science': 90, 'History': 78}
    },
    {
        'name': 'Zain',
        'id': 102,
        'grades': {'Math': 76, 'Science': 88, 'History': 92}
    },
    {
        'name': 'Ali',
        'id': 103,
        'grades': {'Math': 92, 'Science': 85, 'History': 88}
    }
]


def display_students():
    print("\n--- All Students ---")
    for student in students:
        print(f"\nStudent Name: {student['name']}")
        print(f"Student ID: {student['id']}")
        print("Subjects and Grades:")
        for subject, grade in student['grades'].items():
            print(f"  {subject}: {grade}")

def calculate_averages():
    print("\n--- Average Grades ---")
    averages = []
    for student in students:
        avg = sum(student['grades'].values()) / len(student['grades'])
        averages.append((student['name'], avg))
        print(f"{student['name']}: {avg:.2f}")
    return averages


def find_highest_average(averages):
    highest = max(averages, key=lambda x: x[1])
    print(f"\nHighest Average: {highest[0]} with {highest[1]:.2f}")

def list_top_students(averages):
    print("\n--- Students with Average > 80 ---")
    for name, avg in averages:
        if avg > 80:
            print(f"{name}: {avg:.2f}")


def calculate_subject_average(subject_name):
    total = 0
    count = 0
    for student in students:
        if subject_name in student['grades']:
            total += student['grades'][subject_name]
            count += 1
    if count == 0:
        print(f"\nNo grades found for {subject_name}")
    else:
        print(f"\nAverage for {subject_name}: {total/count:.2f}")

def add_student():
    print("\n--- Add New Student ---")
    name = input("Enter student name: ")


    while True:
        try:
            student_id = int(input("Enter student ID: "))
            if student_id > 0:
                break
            else:
                print("ID must be a positive number!")
        except ValueError:
            print("Please enter a valid number for ID!")

    grades = {}
    for _ in range(3):
        subject = input("Enter subject name: ")

        # Validate grade input
        while True:
            try:
                grade = int(input(f"Enter grade for {subject} (0-100): "))
                if 0 <= grade <= 100:
                    break
                else:
                    print("Grade must be between 0 and 100!")
            except ValueError:
                print("Please enter a valid number between 0 and 100!")

        grades[subject] = grade

    students.append({'name': name, 'id': student_id, 'grades': grades})
    print("\nNew student added successfully!")

display_students()
averages = calculate_averages()
find_highest_average(averages)
list_top_students(averages)
calculate_subject_average('Math')  # Changed function call
add_student()
display_students()

--- All Students ---

Student Name: Ahsan
Student ID: 101
Subjects and Grades:
  Math: 85
  Science: 90
  History: 78

Student Name: Zain
Student ID: 102
Subjects and Grades:
  Math: 76
  Science: 88
  History: 92

Student Name: Ali
Student ID: 103
Subjects and Grades:
  Math: 92
  Science: 85
  History: 88

--- Average Grades ---
Ahsan: 84.33
Zain: 85.33
Ali: 88.33

Highest Average: Ali with 88.33

--- Students with Average > 80 ---
Ahsan: 84.33
Zain: 85.33
Ali: 88.33

Average for Math: 84.33

--- Add New Student ---
Enter student name: Zia
Enter student ID: 104
Enter subject name: Maths
Enter grade for Maths (0-100): 98
Enter subject name: science
Enter grade for science (0-100): 78
Enter subject name: History
Enter grade for History (0-100): 88

New student added successfully!

--- All Students ---

Student Name: Ahsan
Student ID: 101
Subjects and Grades:
  Math: 85
  Science: 90
  History: 78

Student Name: Zain
Student ID: 102
Subjects and Grades:
  Math: 76
  Science: 88
  History: 92

Student Name: Ali
Student ID: 103
Subjects and Grades:
  Math: 92
  Science: 85
  History: 88

Student Name: Zia
Student ID: 104
Subjects and Grades:
  Maths: 98
  science: 78
  History: 88